.photo-gallery img{
    width: 23%;
}

/*PRODUCT*/
.products{
    display: flex;   
}
.product_image {
    width: 25%; 
}


/*-------------------------------------About Us Page-----------------------------------------*/
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}