/*justando la sección de beneficios*/
.products {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 930px;
}

/*Header*/
header p{
    font-size: 30px;
}
header img {
    width: 210px;
}

/*MENU*/
nav {
    flex-direction: row;
    font-size: 1.1rem
}
/*menu*/
.navigation {
    display: flex;
}
.navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}

main .info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*PRODUCT*/
.products{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*GALLERY*/
.photo-gallery img{
    width: 48%;
}



/*Footer*/
footer section {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*-------------------------------------FRESH PAGE-----------------------------------------*/
.infoDrink{
    display: flex;
}
.infoDrink img{
    width: 100% / 3;
}