@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:wght@700&display=swap');

body {
	max-width: 960px;
    margin: 0 auto;
	font-size: 20px;
	font-family: "Roboto", Passion One, sans-serif;
}
/* phone or baseline views, small */
main {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	
}
header {
	margin: 0 auto;	
    background-color: #3a5073;
    text-align: center;
    color: white;
    padding: 2px;
}
#pin h1{
	font-family: "Roboto", Passion One, sans-serif;
}
#pin h2{
	font-family: "Roboto", Passion One, sans-serif;
}
nav {
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: #7b9fc7;
	box-shadow: 0 0 10px #333;
	justify-content: center;
}
nav a {
	color: #fff;
	padding: 15px;
	text-decoration: none;
	font-size: 1.5rem;
}

nav a:hover {
	background-color: #708080;
	color: yellow;
}
footer {
	margin: 0 auto;	
    background-color: #3a5073;
    text-align: center;
    color: white;
}
main img {
    display: block;
    width: 80%;
    height: auto;
    max-width: 400px;
    max-height: 860px;
    margin: 0 auto;
    padding: 10px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin: 20px;
}

table {
  width: 90%;
  align-items: center;
}
h2, h1{
	font-family: "Passion One", Roboto, sans-serif;
}
p{
	font-family: "Roboto", Passion One, sans-serif;
}



/*Color.html https://coolors.co/3a5073-ffffff-b4c5d6-96b1ca-7b9fc7 */

.primary {
background-color: #3a5073;
}

.secondary {
background-color: #7b9fc7;
}

.accent1 {
background-color: #b4c5d6;
}
.accent2 {
background-color: #96b1ca;
}


/*Typografy.html*/
.sample1,
.sample3 {
	color: #ffffff;
	background-color: #3a5073;
	font-size: 38px;
}
.sample3, .sample7 {
	font-size: 20px;
}
.sample2 {
	background-color: #7b9fc7;
	color: #ffffff;
	font-size: 1.5rem;
}
.colors1, .colors3{
	background-color: #3a5073;
}
.colors2{
	background-color: #7b9fc7;
}
.sample7,
.sample4,
.sample5,
.sample6 {
	background-color: #ffffff;
	color: #000000;
}
.sample4 {
	font-size: 35px;
	color: #3a5073;
}
.sample5 {
	font-size: 30px;
	color: #7b9fc7;
	font-family: Passion One;
}
.sample6 {
	font-size: 25px;
	color: #96b1ca;
}
.sample7 {
	font-family: Passion One;
}
/* Tablet Views, medium */
@media only screen and (min-width: 37.5em) {
	nav {
		flex-direction: row;
		font-size: 0.7rem
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views, large */
@media only screen and (min-width: 60em) {
	nav {
		flex-direction: row;
		font-size: 1.1rem
	}
}
