@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:wght@700&display=swap');
/*menu*/
/* Mobile View ***************/

.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
    background-color: #7b9fc7;
	box-shadow: 0 0 10px #333;
	justify-content: center;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.menu::before {
	content: "≡";
	font-size: 2rem;
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
}
.responsive li {
	display: block;
}
.responsive a.menu::before {
	content: "X";
}


/*--Home Page---*/
body {
	max-width: 1230px;
    margin: 0 auto;
	font-size: 20px;
	font-family: "Roboto", Passion One, sans-serif;
}

/* banner */
#banner p{
    margin: 0;
    background-color: #0432cc;
    line-height: 2em;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
/* phone or baseline views, small */
header {
	margin: 0 auto;	
    background-color: #3a5073;
    text-align: center;
    color: white;
    padding: 2px;
}
header p{
    background-color: #7b9fc7;
}
header div, footer div{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    text-align: center;
}

.logo, .socialLogo{
    padding: 5px;
}

/* Footer*/
footer {
	margin: 0 auto;	
    background-color: #3a5073;
    text-align: center;
    color: white;
}
footer div div {
    padding: 10px;
    flex-direction: column;
}
.footlogo {
    flex-direction:row;
    text-align: left;
}
footer div p{
    text-align: left;
}
h2, h1{
	font-family: "Passion One", Roboto, sans-serif;
}
p{
    text-align: center;
	font-family: "Roboto", Passion One, sans-serif;
}



/*MAIN*/
.spotlight, section {
    text-align: center;
    min-height: 200px;
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    padding: 1em;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    font-style: Roboto;
}
.home{
    display:grid;
    grid-template-columns: 3fr 1fr;
    background-color: #b4c5d6;
    padding: 20px;
    gap: 20px;
}
.EEE{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}
.spotlights{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}
.home .EEE .hero{
    grid-column: 2/4;
    grid-row: 1/3;
   
}
.home .EEE .weather{
    grid-column: 1/2;
    grid-row: 2/3;
   
}
.home .EEE .news{
    grid-column: 2/4;
    grid-row: 3/4;
   
}