@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:wght@700&display=swap');
/*menu*/
/* Mobile View ***************/

.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
    background-color: #7b9fc7;
	box-shadow: 0 0 10px #333;
	justify-content: center;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.menu::before {
	content: "≡";
	font-size: 2rem;
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
}
.responsive li {
	display: block;
}
.responsive a.menu::before {
	content: "X";
}


/*--Home Page---*/
body {
	max-width: 1230px;
    margin: 0 auto;
	font-size: 20px;
	font-family: "Roboto", Passion One, sans-serif;
}

/* phone or baseline views, small */
main {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
}
header {
	margin: 0 auto;	
    background-color: #3a5073;
    text-align: center;
    color: white;
    padding: 2px;
}
header p{
    background-color: #7b9fc7;
}
header div, footer div{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    text-align: center;
}

.logo, .socialLogo{
    padding: 5px;
}

/* Footer*/
footer {
	margin: 0 auto;	
    background-color: #3a5073;
    text-align: center;
    color: white;
}
footer div div {
    padding: 10px;
    flex-direction: column;
}
.footlogo {
    flex-direction:row;
    text-align: left;
}
footer div p{
    text-align: left;
}
h2, h1{
	font-family: "Passion One", Roboto, sans-serif;
}
p{
    text-align: center;
	font-family: "Roboto", Passion One, sans-serif;
}



/*MAIN*/
.spotlight, section {
    text-align: center;
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 1em;
    margin: 0 auto;
    font-style: italic;
    grid-area: auto;
}
.home{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #b4c5d6;

}
.event{
    grid-column: 1/2;
    grid-row: 1/2; 
}
.weather{
    grid-column: 1/2;
    grid-row: 2/3;   
}
#hero{
    grid-column: 2/4;
    grid-row: 1/3;
    width: 100%;
}
.news{
    grid-column: 2/4;
    grid-row: 3/4;
    width: 100%; 
}
.spotlights{
    grid-column: 4/5;
    grid-row: 1/4;
    width: 100%;
}
.join{
    grid-column: 1/2;
    grid-row: 3/4;   
}
