header{
    background-color: rgb(19, 19, 138);
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-content:space-between;
    margin: 0 auto;
    
}
main section{
    background-color: blueviolet;
    margin: 10px;
    display:grid;
    width: 200px;
    height: 200px;
    border-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.home{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.event{
    grid-column: 1/5;
    grid-row: 1/4; 
}
.weather{
    grid-column: 1/5;
    grid-row: 2/4;   
}
#hero{
    grid-column: 2/5;
    grid-row: 1/4;
    width: 400px;
    height: 400px;
}
.news{
    grid-column: 2/5;
    grid-row: 3/4;
    width: 400px;  
}
.spotlights{
    grid-column: 4/5;
    grid-row: 1/3;   
}
.join{
    grid-column: 1/5;
    grid-row: 3/4;   
}

________________________________________________________-
/* General **********************/

p, nav ul li a {
    font-family: 'Lora', sans-serif;
    text-decoration: none;
}

nav {
    grid-column: 1/6;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li a {
    color: #73a18e;
}

nav ul li a:hover {
    color: #4a876e;
}

/* Header **********************/


header a {
    margin-top: 10px;
}

.socialLogo {
   
   padding: 5px;

}

header .hamburger {
    width: 40px;
    height: 40px;
    margin: auto;
    margin-top: 5px;
}

header .logo {
    width: 50px;
    height: 50px;
}

h1 {
    margin-top: 0;
    font-size: 25px;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    color: #b0e4cf;
}

h1 .subheader {
    display: block;
    font-style: italic;
    font-weight: normal;
    font-size: large;
}

#navButton {
    border: none;
    padding: 0;
    width: fit-content;
    height: fit-content;
    display: flex;
    background-color: rgba(1,1,1,0);
}

#Date {
    grid-column: 1/7;
    grid-column: 2/3;
    width: 100%;
    margin-top: 5px;
    height: 2em;
    background-color: #0d6277;
    border-style: solid;
    border-width: 1px;
    border-color: #a9c7ae;
    color: #ffffff;
    text-align: center;
    line-height: 200%; /*I don't know why but it centers*/
}

/* Footer **********************/
footer {
    margin: 5px;
    margin-bottom: 10px;
}

footer p, img, a {
    color: #b0e4cf;
}

footer h1 {
    font-size: 20px;
    font-style: italic;
}

.address {
    margin-top: 1px;
    font-style: italic;
}

.pin {
    width: 15px;
    height: 15px;
}

footer a:hover {
    color: #73a18e;
    text-decoration: underline;
}

footer hr {
    border-color: #b0e4cf;
}

.footerer p {
    margin: 1px;
    font-size: 12px;
}

.spotlight {
    text-align: center;
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 1em;
    margin: 0 auto;
    font-style: italic;
}
