/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Hubballi&display=swap');

  /* change the values below to your chosen font(s) */

#content {
    margin: 0 auto;
    max-width: 800px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
ol li {
    margin-left: 0;
    list-style-position: inside;
    list-style-type: circle;
}

#background {
    height: 725px;
    background-color:#DD6E46;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: #fcfbfb;
    font-family: "Hubballi", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0 auto;
    padding: 0;
}
header {
    margin: 0 auto;
    background-color: #0C6464;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 30px;
}
header p {
    text-align: center;
    grid-column: 2/4;
    font-size: 40px;
    color: #ffffff;
}

.msg {
    background-color: #0C6464;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: #0C6464;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}
.home-title {
    font-family: "Boogaloo","Bradley Hand", sans-serif;
    color: #ff771c;
    font-size: 2em;
    text-shadow: 3px  3px 3px rgb(255, 255, 255);
    margin-top: 10px;
}

footer h3 {
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}
footer h3 a:hover {
    text-decoration: underline;
}
h2 {
    margin: 0 auto;
    width: 500px;
    margin-top: 45px;
}

#logo_link {
    padding: 10px;
    justify-self: center;
    align-self: center;
    display: flex;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    color: white;
}